.btn-blue {
  background-color: #FAFAFA;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  color: #2EB1FF;
  font-weight: bold;
  font-family: 'Pacifico';
  margin-left: 15px;
  opacity: 0.8;
}
